NODE_ENV=development
SESSION_SECRET=NOT_A_STRONG_SECRET

DEV_HOST_URL=http://localhost:3000
PROD_HOST_URL=https://www.example.com

AUTH0_DOMAIN=example.us.auth0.com
AUTH0_CLIENT_ID=example
AUTH0_AUDIENCE=https://example.com
AUTH0_ORGANIZATION_ID=example-staff
API_URL=https://example.com/api